@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{

--cor0: #c5ebd6;
--cor1: #83E1ad;
--cor3: #3ddc84;
--cor4: #2fa866;
--cor5: #1a5c37;
--cor6: #063d1e;

--fonte-padrao: Arial, Helvetica, sans-serif;
--font-destaque: 'Bebas Neue';
--fonte-android: 'Android';
  
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

header > h1{
    color:var(--cor3);
    font-family: var(--font-destaque);
}

main> h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main> h2{
    font-family: var(--fonte-android);
}